body {
    background-image: url(background.jpg);
}
#pokemonLogo {
    width: 70%;
}
#container {
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.953);
    text-align: center;
}
h1 {
    text-align: center;
}
#pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}
.poke-card {
    background-color: rgb(255, 255, 255);
    list-style: none;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 1px 2px 2px black;
}
.poke-card:hover {
    animation: bounce 0.3s linear;
    cursor: pointer;
}
@keyframes bounce {
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}
.poke-image {
    height: 70%;
    background-color: #F2F2F2;   
}
.poke-id {
    margin: 0;
    color: #919191;
}
.poke-name {
    text-transform: capitalize;
    margin-bottom: -5px;
    margin-top: -2px;
}
.poke-type {
    text-transform: capitalize;
}
input[type=text] {
    width: 40%;
    height: 40px;
    border: 4px solid blue;
    text-align: center;
    border-radius: 40px;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 400vw;
    width: 100vw;
    background: grey;
    display: absolute;
    opacity: 0.99;
}
.poke-popup-card {
    height: 400vw;
    text-align: center;
    justify-content: center;
    max-width: 1800px;
    display:block;
}
.poke-popup-positions {
    display:grid;
}
#closeButton {
    position: absolute;
    top: 30px;
    right: 50px;
    background-color: orangered;
    border: none;
    padding: 20px 30px;
    border-radius: 4px;
}
#closeButton:hover {
    cursor: pointer;
    box-shadow: 0px 2px 3px black;
}
.poke-popup-image {
    width: 20%;
}
.poke-popup-id {
    font-size: 35px;
    margin-bottom: -2%;
}
.poke-popup-name {
    text-transform: capitalize;
    font-size: 300%;
}
.poke-popup-container {
    border: 2px solid black;
    margin: 0 auto;
    width: 30%;
    background-color: #52A4D4;
    border-radius: 15px;
    box-shadow: 0px 2px 3px black;
}
.poke-popup-type {
    text-transform: capitalize;
}
.poke-popup-abilities {
    text-transform: capitalize;
}
.poke-popup-stats {
    border: 2px solid black;
    margin: 5px auto;
    width: 30%;
    background-color: orangered;
    border-radius: 15px;
    box-shadow: 0px 2px 3px black;
}
a:link {
    text-decoration: none;
}



